<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>Room</th>
      <th>Team</th>
      <th>From</th>
      <th>Until</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= link_to reservation.room.name, reservation.room %></td>
        <td><%= link_to reservation.team.name, reservation.team %></td>
        <td><%= reservation.from.to_s(:short) %></td>
        <td><%= reservation.until.to_s(:short) %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
