<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @reservation.room.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @reservation.team.name %>
</p>

<p>
  <strong>From:</strong>
  <%= @reservation.from.to_s(:short) %>
</p>

<p>
  <strong>Until:</strong>
  <%= @reservation.until.to_s(:short) %>
</p>

<% if @reservation.team == current_team %>
  <%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<% end %>
<%= link_to 'Back', reservations_path %>
